<div class = "inner">  
  <nav>
    <ul class = "nav masthead-nav">
      <li>
        <a href = "http://cheaplike.us">
          Home
        </a>
      </li>

      <li>
        <a href = "#" data-toggle = "modal" data-target = "#modify">
          Modify Tables
        </a>
      </li>

      <li>
        <a href = "#" data-toggle = "modal" data-target = "#stock_alert">
          Alerts
        </a>
      </li>
    </ul>
  </nav>
</div>
