<div class = "inner">  
  <nav> 
      <ul class = "nav masthead-nav">
        <li>
          <a href = "http://cheaplike.us">
            Home
          </a>
        </li>

        <li>
          <a href = "#" data-toggle = "modal" data-target = "#sign_in">
            Log In
          </a>
        </li>

        <li>
          <a href = "#" data-toggle = "modal" data-target = "#sign_up">
            Create Account
          </a>
        </li>

        <li>
          <div><!-- open search container -->
              <form role = "form" action = "/req/guestItems" method = "post">
                <div class = "input-group"><!-- open search field -->
                  <input type = "search" name = "search" class = "form-control input-sm" placeholder = "Search for...">
                  <span class = "input-group-btn">
                    <button type = "submit" class = "btn btn-default btn-sm" value="Send" >
                      <b>Go!</b>
                    </button>
                  </span>
              </form>
                </div><!-- close search field -->
         </div><!-- close search container -->
        </li>
      </ul>
  </nav>
</div>
