<!-- Modal - Contact -->
<div class = "modal" id = "contact" tabindex = "-1" role = "dialog" aria-labelledby = "contact"><!-- open modal -->
  <div class = "modal-dialog" role = "document">
    <div class = "modal-content">

      <div class = "modal-header"><!-- open modal-head -->

        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close"><span aria-hidden = "true">&times;</span></button>
        <h4 class = "modal-title" id = "myModalLabel">
          Contact
        </h4>

      </div><!-- close modal-head -->

      <div class = "modal-body"><!-- open modal-body -->                     
        <div class = "panel-group" id = "accordion" role = "tablist" aria-multiselectable = "true">  
          
          <div class = "panel panel-default">
            <div class = "panel-heading" role = "tab" id = "headingOne">
              <button class = "btn btn-default btn-block btn-lg collapsed btn-spc" data-toggle = "collapse" data-parent = "#accordion" href = "#Phillip_Smith" aria-pressed = "false" aria-expanded = "false" aria-controls = "Phillip_Smith">
                <h4 class = "panel-title">
                  Phillip Smith
                </h4>
              </button>
            </div>

            <div id = "Phillip_Smith" class = "panel-collapse collapse" role = "tabpanel" aria-labelledby = "headingOne">
              <div class = "list-group">

                <ul class = "list-group">
                  <li class = "list-group-item">
                    Undergraduate, UF-CISE
                  </li>

                  <li class = "list-group-item">
                    smith.phillip.m@ufl.edu
                  </li>

                  <li class = "list-group-item">
                    Front-end development, some back-end, general design
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div class = "panel panel-default">
            <div class = "panel-heading" role = "tab" id = "headingTwo">
              <button class = "btn btn-default btn-block btn-lg collapsed btn-spc" data-trigger = "focus" data-toggle = "collapse" data-parent = "#accordion" href = "#Nicolas_Fry" aria-pressed = "false" aria-expanded = "false" aria-controls = "Nicolas_Fry">
                <h4 class = "panel-title">
                  Nicolas Fry
                </h4>
              </button>
            </div>

            <div id = "Nicolas_Fry" class = "panel-collapse collapse" role = "tabpanel" aria-labelledby = "headingTwo">
              <div class = "list-group">

                <ul class = "list-group">
                  <li class = "list-group-item">
                    Undergraduate, UF-CISE
                  </li>

                  <li class = "list-group-item">
                    email@email.com
                  </li>

                  <li class = "list-group-item">
                    Back-end development, some front-end
                  </li>
                </ul>

              </div>
            </div>
          </div>
<!--
          <div class = "panel panel-default">
            <div class = "panel-heading" role = "tab" id = "headingThree">
              <button class = "btn btn-default btn-block btn-lg collapsed btn-spc" data-toggle = "collapse" data-parent = "#accordion" href = "#George_Angeles" aria-pressed = "false" aria-expanded = "false" aria-controls = "George_Angeles">
                <h4 class = "panel-title">
                  George Angeles
                </h4>
              </button>
            </div>

            <div id = "George_Angeles" class = "panel-collapse collapse" role = "tabpanel" aria-labelledby = "headingThree">
              <div class = "list-group">

                <ul class = "list-group">
                  <li class = "list-group-item">
                    BS Graphic Design - Some University
                  </li>

                  <li class = "list-group-item">
                    email@email.com
                  </li>

                  <li class = "list-group-item">
                    Contribution: Favicon, general graphic design
                  </li>
                </ul>

              </div>
            </div>
-->
          </div>
        </div>
      </div><!-- close modal-body -->

    </div>
  </div>
</div><!-- close modal -->

