<!-- Modal - About -->
<div class = "modal" id = "cart" tabindex = "-1" role = "dialog" aria-labelledby = "cart"><!-- open modal -->
  <div class = "modal-dialog" role = "document">
    <div class = "modal-content">

      <div class = "modal-header"><!-- open modal-head -->

        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close"><span aria-hidden = "true">&times;</span></button>
        <h4 class = "modal-title logo" id = "myModalLabel">
          cheap<sub>LIKE</sub>us<br/><br/>
        </h4>

      </div><!-- close modal-head -->

      <div class = "modal-body"><!-- open modal-body -->
                    
        <div>
          <p class = "about_text">
          <br/>
            This is a project for University of Florida's Fall 2015 CIS4301:
            Information and Database Systems course. The goal of this project 
            is to develop a simple online store web app incorporating 
            the database management skills learned in the course as well as web 
            development skill learned during independent study.
            <br/>
          </p>
        </div>

      </div><!-- close modal-body -->

    </div>
  </div>
</div><!-- close modal -->
