<!-- Modal - Sign-In -->
<div class = "modal" id = "sign_in_alert" tabindex = "-1" role = "dialog" aria-labelledby = "sign_in"><!-- open modal -->
  <div class = "modal-dialog" role = "document">
    <div class = "modal-content">

      <div class = "modal-header"><!-- open modal-head -->

        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
          <span aria-hidden = "true">&times;</span>
        </button>
        <h4 class = "modal-title" id = "myModalLabel">Sign-In</h4>
      
      </div><!-- close modal-head -->

      <div class = "modal-body"><!-- open modal-body -->                      
        <form role = "form" action = "/login/" method = "post"><!-- open form -->

          <div class = "form-group"><!-- email field -->
            <input type = "email" name = "email" class = "form-control input-lg" placeholder = "user@somewhere.com" id = "sign-in-email">
          </div><!-- email field -->

          <div class = "form-group"><!-- password field -->
           <input type = "password" name = "password" class = "form-control input-lg" placeholder = "password" id = "sign-in-pw">
          </div><!-- password field -->

            <div class="alert alert-danger alert-dismissible fade in" role=alert>
              <h4>
                <strong>Failed Login!</strong>
              </h4>
              <p> 
                Email address or password incorrect. Please try again. 
              </p>
            </div>

      </div><!-- close modal-body -->

      <div class = "modal-footer"><!-- open modal-footer -->

        <button type = "submit" class = "btn btn-default btn-block btn-lg" value = "Send">
          <b>Submit</b>
        </button>
        </form><!-- close form -->
      </div><!-- close modal-footer -->

    </div>
  </div>
</div><!-- close modal -->
