<!-- Modal - About -->
<div class = "modal" id = "cart" tabindex = "-1" role = "dialog" aria-labelledby = "cart"><!-- open modal -->
  <div class = "modal-dialog modal-lg" role = "document">
    <div class = "modal-content">

      <div class = "modal-header"><!-- open modal-head -->

        <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close"><span aria-hidden = "true">&times;</span></button>
        <h4 id = "myModalLabel">
          Shopping Cart
        </h4>

      </div><!-- close modal-head -->

      <div class = "modal-body"><!-- open modal-body -->
                    
        <ul class = "list-group" id="show-cart">

        </ul>
        <div><hr></div>
        <div>You have <span id="count-cart">X</span> items in your cart</div>
        <div>Total Cart:$<span id="total-cart"></span></div>

      </div><!-- close modal-body -->
      
      <!-- open modal-footer -->
      <div class = "modal-footer" id= "end-cart">

        <div class = "form-group">
            <input type = "email" name = "email" class = "form-control input-lg" id = "checkoutEmail" placeholder = "Enter your current email to make changes">
        </div>
        <div class = "form-group">
            <input type = "password" name = "password" class = "form-control input-lg" id = "checkoutPassword" placeholder = "Enter your current password to make changes">
        </div>
        <button type = "submit" class = "submit-cart btn btn-default btn-block btn-lg" value = "Send">Make Purchase</button>
      </div><!-- close modal-footer -->


    </div>
  </div>
</div><!-- close modal -->
