<!DOCTYPE html>

<!------------------------------------------------------------------------------
-                                                                              -
-                                                           Smith, Phillip     -
-                                                  smith.phillip.m@ufl.edu     -
-                                                                              -
-                                                             Fry, Nicolas     -
-                                                    nicolascoding@ufl.edu     -
-                                                                              -
------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------

  Great resources:

    https://www.mysql.com/

    http://expressjs.com/

    https://angularjs.org/

    https://nodejs.org/en/

    http://getbootstrap.com/

    http://www.color-hex.com/     

    http://stackoverflow.com/

------------------------------------------------------------------------------->

<html lang = "en">

  <!-- Head -->
  <% include ../PARTIALS/head %>

  <body>

<!-- Modals ------------------------------------------------------------------->

  <!-- Modal - Log In -->
  <% include ../PARTIALS/modal_modify_tables %>

  <!-- Modal - Create Account -->
  <% include ../PARTIALS/modal_stock_alert %>

<!-- Cover -------------------------------------------------------------------->

    <div class = "site-wrapper">
      <div class = "site-wrapper-inner">
        <div class = "cover-container">

          <div class = "masthead clearfix">
            <% include ../PARTIALS/admin_nav_bar %>
          </div>

          <div class = "inner cover">

            <div class="jumbotron">
              <div class="container">
                <h1>Admin Page</h1>
              </div>
            </div>

          </div>

          <div class = "mastfoot">
              <% include ../PARTIALS/footer %>
          </div>

        </div>
      </div>
    </div>

    <% include ../PARTIALS/scripts_common %>

  </body>

<!------------------------------------------------------------------------------
-                                                                              -
-                                                           Smith, Phillip     -
-                                                  smith.phillip.m@ufl.edu     -
-                                                                              -
-                                                             Fry, Nicolas     -
-                                                    nicolascoding@ufl.edu     -
-                                                                              -
------------------------------------------------------------------------------->

</html>
