/*******************************************************************************
*                                                                              *
*                                                           Smith, Phillip     *
*                                                  smith.phillip.m@ufl.edu     *
*                                                                              *
*                                                             Fry, Nicolas     *
*                                                    nicolascoding@ufl.edu     *
*                                                                              *
*******************************************************************************/

/*******************************************************************************

Color Chart

Dk-Dk Gray    #0a0a0a  // modal backdrop
Dk Gray       #2e2e2e  // background
Md Gray       #676767  //
Lt Gray       #9a9a9a  //
White         #ffffff  // general text
Orange        #e77e00  // active button
Blue          #0069e7  // active button text


*******************************************************************************/


/*-- cover styling -----------------------------------------------------------*/

/* Links */
a,
a:focus,
a:hover {
  color: #ffffff;

}

mark {
  color: #0069e7;
  background-color: #e77e00;    
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #2e2e2e;
  font-family: Georgia, serif;
}
body {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 34px !important;
}
.masthead-brand > a:hover {
  background-color: transparent;
  color: #e77e00;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  margin-top: -12px;
  margin-bottom: -12px;
  font-size: 34px;
  color: #ffffff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
.masthead-nav > li > a:hover {
  background-color: transparent;
  color: #e77e00;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #ffffff;
}
.masthead-nav > li > a:focus, 
.masthead-nav > .active > a,
.masthead-nav > .active > a:focus {
  background-color: transparent;
}
@media (min-width: 768px) {

  .masthead-brand {
    float: left;
    font-size: 14px;
  }

  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
.nav-search {
    padding-right: 90px;
    vertical-align: top;
}
/*-- modal styling -----------------------------------------------------------*/

.modal-dialog {
  top: 5%;
}
.modal-content {
  background-color: #2e2e2e;
  border-color: #9a9a9a;
  box-shadow: 0px 0px 3px 3px #676767;
}
.modal-body {
  text-align: justify;
  font-size: 16px;
}
.modal.fade.in ~ .modal-backdrop.fade.in {
  background-color: #0a0a0a;
  opacity: 1;
}
.modal ~ .modal-backdrop {
  background-color: #1e1e1e;
  opacity: 1;
}
.close {
  color: #676767;
  opacity: 1;
  text-shadow: none;
}
.close:hover {
  color: #e77e00;
  opacity: 1;
}

/*-- button styling ----------------------------------------------------------*/

.btn-default {
  color: #ffffff;
  background-color: #676767;
  border-color: #9a9a9a;
  box-shadow: 0px 0px 3px 3px #676767;
}

.btn-default.hover, .btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.visited, .btn-default:visited, .btn-default.active, .btn-default:active {
  color: #0069e7 !important;
  background-color: #e77e00 !important;
}
.btn-spc.focus, .btn-spc:focus {
  color: #ffffff !important;
  background-color: #676767 !important;
}
.btn-spc.hover, .btn-spc:hover {
  color: #0069e7 !important;
  background-color: #e77e00 !important;
}

/*-- panel styling (collapseable list) ---------------------------------------*/

.panel-default {
  background-color: #676767;
  border-color: #9a9a9a;
  box-shadow: 0px 0px 3px 3px #676767;
}
.panel-default >.panel-heading {
  color: #ffffff;
  background-color: #676767;
  border-color: #9a9a9a;
  box-shadow: 0px 0px 3px 3px #676767;
  padding: 0px !important;
}
.panel-default >.panel-collapse {
  color: #ffffff;
  background-color: #9a9a9a;
}

/*-- list item styling (collapseable list) -----------------------------------*/

.list-group-item {
  color: #0069e7 !important;
  background-color: #e0e0e0 !important;
  text-align: left;
  font-style: italic;
}

.form-control {
  box-shadow: 0px 0px 3px 3px #676767;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0px 0px 3px 3px #e77e00, 0px 0px 3px 3px #676767;
}
#list {
  background-color: #2e2e2e !important;
  color: #ffffff !important;
}
#list2 {
  background-color: #676767 !important;
  color: #ffffff !important;
}
/*-- placeholder styling (input fields) --------------------------------------*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-style: italic;
  color: #bcbcbc !important;
  opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
  color: #bcbcbc !important;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
  color: #bcbcbc !important;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
  color: #bcbcbc !important;
  opacity: 1;
}

/*-- badge styling -----------------------------------------------------------*/

.badge.hover, .badge:hover {
  color: #0069e7;
  background-color: #e77e00;
}

/*-- because dotted lines are stupid -----------------------------------------*/

a, a:active, a:focus, button, button:focus, button:active, .btn, .btn:focus,
.btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}

/*******************************************************************************
*                                                                              *
*                                                           Smith, Phillip     *
*                                                  smith.phillip.m@ufl.edu     *
*                                                                              *
*                                                             Fry, Nicolas     *
*                                                    nicolascoding@ufl.edu     *
*                                                                              *
*******************************************************************************/
