<!DOCTYPE html>

<!------------------------------------------------------------------------------
-                                                                              -
-                                                           Smith, Phillip     -
-                                                  smith.phillip.m@ufl.edu     -
-                                                                              -
-                                                             Fry, Nicolas     -
-                                                    nicolascoding@ufl.edu     -
-                                                                              -
------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------

  Great resources:

    https://www.mysql.com/

    http://expressjs.com/

    https://angularjs.org/

    https://nodejs.org/en/

    http://getbootstrap.com/

    http://www.color-hex.com/     

    http://stackoverflow.com/

------------------------------------------------------------------------------->

<html lang = "en">

  <!-- Head -->
  <% include ../PARTIALS/head %>

  <body>

<!-- Modals ------------------------------------------------------------------->

  <!-- Modal - Sign-In -->
    <% include ../PARTIALS/modal_log_in %>

  <!-- Modal - Sign-Up -->
    <% include ../PARTIALS/modal_create_account %>

  <!-- Modal - About -->
    <% include ../PARTIALS/modal_about %>

  <!-- Modal - Contact -->
    <% include ../PARTIALS/modal_contact_us %>

<!-- Cover -------------------------------------------------------------------->

    <div class = "site-wrapper">
      <div class = "site-wrapper-inner">
        <div class = "cover-container">

          <div class = "masthead clearfix">
            <% include ../PARTIALS/home_nav_bar %>
          </div>

          <div class = "inner cover">
            <% include ../PARTIALS/main_search %>
          </div>

          <div class = "mastfoot">
              <% include ../PARTIALS/footer %>
          </div>

        </div>
      </div>
    </div>

    <% include ../PARTIALS/scripts_common %>

  </body>

<!------------------------------------------------------------------------------
-                                                                              -
-                                                           Smith, Phillip     -
-                                                  smith.phillip.m@ufl.edu     -
-                                                                              -
-                                                             Fry, Nicolas     -
-                                                    nicolascoding@ufl.edu     -
-                                                                              -
------------------------------------------------------------------------------->

</html>
